.globe-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max(75vw, 75vh);
    height: max(75vw, 75vh);
    pointer-events: auto;
}

canvas {
    display: block;
}